# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CPlus封装CS的dll，然后CPlusConsole调用CplusWrapper/CSDll/CSDll/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
